{% extends 'base_template.html' %}

{% load static %}

{% block title %}
  Ваши сообщения
{% endblock %}

{% block other_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'groups_page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	{% if conservations or dialogs %}
	<br>
		{% for conservation in conservations %}
			{{ conservation.name }}
			<br>
		{% endfor %}

		{% for dialog in dialogs %}
		<br>
			{% with companion=dialog.get_companion %}
				<a href="{{ dialog.get_absolute_url }}" class="user_link">
					<img src="{{ companion.image.url }}" class="user_img"/>
					{{ companion.username }}
				</a>
			{% endwith %}
			<br>
		{% endfor %}
	{% else %}
		У вас пока нет сообщений
	{% endif %}
		<br>
 </div>
{% endblock %}
