{% extends 'base_template.html' %}

{% block other_styles %}
  {% load crispy_forms_tags %}
{% endblock %}

{% block title %} Вход {% endblock %}

{% block content %}
<div class="container" style="margin: 0 auto; display: flex; align-items: center;
  justify-content: center;
  text-align: center;
  height: 350px;
  width: 400px;
  background-color: white;
  border-radius: 10px;">
  <br>
  <form method="post" style="max-width: 350px; width: 350px;"> {% csrf_token %}
    {{ form|crispy }}
    <br>
    <a href="{% url 'main:register_page' %}" style="color: #0B66E3; text-decoration: none;">Регистрация</a>
    <br>
    <a href="{% url 'main:change_password_page' %}" style="color: #0B66E3; text-decoration: none;">Забыли пароль?</a>
    <br>
    <br>
    <button type="submit" class="btn btn-success" style="
    width:100px;
    margin: -20px -50px;
    top:50%;
    left:50%;">Войти</button>
  </form>
</div>

{% endblock content %}
