{% extends 'base_template.html' %}

{% load static %}

{% block other_styles %}
    {% load crispy_forms_tags %}
{% endblock %}

{% block title %} Настройки {% endblock %}

{% block content %}
<div class="container" style="margin: 0 auto; display: flex; align-items: center;
  justify-content: center;
  text-align: center;
  height: 350px;
  max-height: 800px;
  width: 400px;
  background-color: white;
  border-radius: 10px;">
    <form method="post" enctype="multipart/form-data" style="max-width: 350px; width: 350px;"> {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="" id="delete_image_anchor" style="color: #0B66E3; text-decoration: none;">Удалить фото профиля</a>
        <br>
        <a href="{% url 'main:change_password_page' %}" style="color: #0B66E3; text-decoration: none;"> Изменить пароль </a>
        <br><br>
        <button class="btn btn-success">Применить</button>
    </form>
</div>
<br>

<p align="center">
    {% if not request.user.telegram_profile %}
<a href="{% url 'telegram:generate_token' %}" style="color: #0B66E3; text-decoration: none;">Сгенерировать токен для Telegram </a>
    {% else %}
        Аккаунт привзан к {{ request.user.telegram_profile.telegram_id }}
    {% endif %}
    </p>

<script src="{% static 'js/delete_user_image.js' %}"></script>
{% endblock %}
