{% extends 'base_template.html' %}

{% block title %} Изменение пароля {% endblock %}

{% block other_styles %}
    {% load crispy_forms_tags %}
{% endblock %}

{% block content %}
    <div class="container" style="margin: 0 auto; display: flex; align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  background-color: white;
  border-radius: 10px;">
        <form method="post" enctype="multipart/form-data" style="padding-bottom: 10px; padding-top: 10px; max-width: 350px; width: 350px;"> {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-success">Выслать письмо</button>
        </form>
    </div>
{% endblock %}
