{% extends 'base_template.html' %}

{% block title %} Сброс пароля {% endblock %}

{% block other_styles %}
    {% load crispy_forms_tags %}
{% endblock %}

{% block content %}
    {% if form %}
        <div class="container" style="margin: 0 auto; display: flex; align-items: center;
  justify-content: center;
  text-align: center;
  height: 350px;
  max-height: 600px;
  width: 400px;
  background-color: white;
  border-radius: 10px;">
                <form method="post" style="max-width: 350px; width: 350px;"> {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-success">Изменить</button>
                </form>
        </div>
    {% else %}
        <h2 align="center">Ссылка недействительна</h2>
    {% endif %}
{% endblock %}
